<script src="http://yui.yahooapis.com/3.8.0pr1/build/yui/yui-min.js"></script>
<div class="intro">
	<p>This example shows the different color palettes that can be generated.  Change the start color
	or number of colors required, and the palette will update.  Y.Color.Palette also includes
	a method ```mixupColors``` which will take an array of colors generated and re-arrange them
	in a predictable way that will make one color different to the next.
	</p>
</div>

<div class="example">
    {{>palette-interactive-source}}
</div>

<h2>Full source</h2>
```
{{>palette-interactive-source}}
```
